<footer class="footer  bm-5">
  <div class="container">
    <div class="row justify-content-between align-items-center pt-5">
      <h2 class="text-white col-lg-4 col-sm-12" >SUBSCRIBE NEWSLETTER</h2>
      <div class="col-lg-6 col-sm-12  row justify-content-between align-items-center">
        <div class="mb-3 col-10">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">

        </div>
        <div class="mb-3 col-2">
         <input type="submit" value="Send" class="btn ps-3 pe-3"   style="background-color: #24baef;" >
        </div>

      </div>
    </div>


    <div class="row">
  <!-- start -->
  <div class="col-lg-4 col-md-6 col-sm-12 ">
  <div>
    <h2 class="text-white">Movies </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat.</p>
  </div>
  </div><!-- end -->
  <!-- start -->
  <div class="col-lg-3 col-md-6 col-sm-12 ">
    <div class="footer__icon">
      <h3 class="text-white">Contact Info</h3>
      <p> <i class="fa-solid fa-location-dot"></i> <span class="ms-1">Address: 44 New Design Street,</span></p>
     <p><i class="fa-solid fa-message"></i> <span class="ms-1">info@themevessel.com</span></p>
    <p><i class="fa-solid fa-phone"></i> <span class="ms-1">+0477 85X6 552</span></p>
    <p><i class="fa-solid fa-fax"></i><span class="ms-1">+0477 85X6 552</span></p>
    </div>
    </div><!-- end -->


    <!-- start -->
  <div class="col-lg-2 col-md-6 col-sm-12 text-white">
    <div>
      <h3 class="text-white">Useful Links</h3>
      <ul class="color">
        <li><i class="fa-solid fa-angle-right"></i> Home</li>
        <li><i class="fa-solid fa-angle-right"></i> About us</li>
        <li><i class="fa-solid fa-angle-right"></i> Contact us</li>
        <li><i class="fa-solid fa-angle-right"></i>Services</li>
        <li><i class="fa-solid fa-angle-right"></i> Blogs</li>
        <li><i class="fa-solid fa-angle-right"></i>  Elements</li>
        <li><i class="fa-solid fa-angle-right"></i>  Movies Listing</li>
        <li><i class="fa-solid fa-angle-right"></i>   Gallary</li>
      </ul>
    </div>
    </div><!-- end -->
     <!-- start -->
  <div class="col-lg-3 col-md-6 col-sm-12 text-white">
    <div>
      <h3 class="text-white">Our Gallery</h3>
      <div class="row justify-content-between align-items-center ">
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1041884806-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1067573454-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1129597161-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>
        <div class="col-4 mb-2 ">
          <div >
            <img src="../../assets/images/istockphoto-1041884806-612x612.jpg" alt="" class="w-100 rounded ">
          </div>
        </div>
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1067573454-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1129597161-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>

        <div class="col-4 mb-2 ">
          <div >
            <img src="../../assets/images/istockphoto-1041884806-612x612.jpg" alt="" class="w-100 rounded ">
          </div>
        </div>
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1067573454-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>
        <div class="col-4 mb-2">
          <div>
            <img src="../../assets/images/istockphoto-1129597161-612x612.jpg" alt="" class="w-100 rounded">
          </div>
        </div>
      </div>
    </div>
    </div><!-- end -->

    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 col-sm-12 pt-5">
  <p>© 2022 Theme Vessel. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 col-sm-12 pt-5 text-end">
        <div class="social-list">

              <span><i class="fa-brands fa-facebook mx-1"></i></span>

              <span><i class="fa-brands fa-twitter mx-1"></i></span>

              <span><i class="fa-brands fa-instagram mx-1"></i></span>

              <span><i class="fa-brands fa-github mx-1"></i></span>


              <span><i class="fa-brands fa-youtube mx-1"></i></span>

      </div>
      </div>
    </div>
  </div>

  </footer>


