/* You can add global styles to this file, and also import other style files */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body
{
  font-family: 'Montserrat', sans-serif;
  background-color: #131722 !important ;
  color: #fff;
  font-family: 'segoe ui light', Tahoma, Geneva, Verdana, sans-serif;
}


.bgLight
{
background-color: #24baef;
}
.brdr
{
  height: 6px;
  background:radial-gradient(
    circle at 0% -25%,
    #FF8947 0%,
    #FF8354 0,
    #DA2C94 42%,
    #3E13A5 110%
  );
}
/*  */


a{
  text-decoration: none;
  color: #fff !important;
}

ul{
  list-style: none;
}


.vote{
  background-color: #24baef;
  padding: 5px;
  font-weight: 900;
  color: #fff;

}
.secondColor{
  color: #949cb0;
}

/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> */
